.App {
  text-align: center;
  background-color: aqua
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}
.center{
  text-align: center;
  margin-top: 20px;
  color:rgb(0, 132, 255)
}


.circular {
  border-radius: 300%;
  height: 10%;
  width: 10%
}
.name{
  margin-left: 5%;
}
.phone{
  margin-right: 2%;
}
.address{
  margin-left: 3%;
}
.email{
  margin-left: 5%;
}
.password{
  margin-left: 2%;
}
.date{
  margin-left: 2%;
}
.security{
  margin-right: 4%;
}
.answer{
margin-left: 4%;
}
.login{
  margin-left: 2%;
}
.center1{
  color:rgb(0, 132, 255)
}
.message{
  color: red;
}