.App {
  text-align: center;
  background-color: aqua
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.center{
  text-align: center;
  margin-top: 20px;
  color:rgb(0, 132, 255)
}


.circular {
  margin-top: 2%;
  border-radius: 300%;
  height: 10%;
  width: 10%
}
.name{
  margin-left: 5%;
}
.phone{
  margin-right: 11%;
}
.address{
  margin-left: 0%;
}
.email{
  margin-left: 4%;
}
.password{
  margin-right: 4%;
}
.date{
  margin-right: 4%;
}
.security{
  margin-right: 17%;
}
.answer{
  margin-left: 1%;
}
.submit{
  margin-bottom: 2%;
}
.login{
  margin-left: 2%;
}
.center1{
  color:rgb(0, 132, 255)
}
.message{
  color: red;
}
.formborder{
  border: 1px solid;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 6%;
    background-color:rgb(170, 211, 228)
}